In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

from yellowbrick.classifier import ConfusionMatrix
from yellowbrick.classifier import ClassPredictionError
from yellowbrick.classifier import ROCAUC
from yellowbrick.style import set_palette

In [4]:
#load data
df = pd.read_csv("../datasets/StellarWOWhere.csv")
df.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237662268080915268,243.498908,4.309792,21.23949,20.39086,20.35097,20.25421,19.90627,3910,301,4,222,5412459332838381568,QSO,2.290692,4807,55687,940
1,1237678439702725272,44.374089,3.017933,25.76758,22.40062,20.49454,19.55738,19.04092,7675,301,6,164,4793200361828800512,GALAXY,0.524215,4257,55480,889
2,1237680122252427770,20.782605,-6.876952,22.40024,22.38897,20.59912,19.78579,19.13067,8067,301,4,107,8061622938980603904,GALAXY,0.517058,7160,56599,653
3,1237654606395474492,150.880031,4.873687,22.33767,21.74014,20.67626,19.84993,19.52213,2126,301,5,212,5404532678417733632,GALAXY,0.657861,4800,55674,775
4,1237678858476388446,11.171527,12.007317,20.22819,20.18983,19.53547,19.50299,19.35294,7773,301,2,383,12432264428896147456,QSO,1.319689,11042,58462,282

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   objid      100000 non-null  int64
 1   ra         100000 non-null  float64
 2   dec        100000 non-null  float64
 3   u          100000 non-null  float64
 4   g          100000 non-null  float64
 5   r          100000 non-null  float64
 6   i          100000 non-null  float64
 7   z          100000 non-null  float64
 8   run        100000 non-null  int64
 9   rerun      100000 non-null  int64
 10  camcol     100000 non-null  int64
 11  field      100000 non-null  int64
 12  specobjid  100000 non-null  uint64
 13  class      100000 non-null  object
 14  redshift   100000 non-null  float64
 15  plate      100000 non-null  int64
 16  mjd        100000 non-null  int64
 17  fiberid    100000 non-null  int64
dtypes: float64(8), int64(8), object(1), uint64(1)
memory usage: 13.7+ MB

In [6]:
df["class"].value_counts()

GALAXY    59673
STAR      21566
QSO       18761
Name: class, dtype: int64